* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: white;
    background-color: #1b1b32;
    font-family: Lato, 'sans-serif';
}

h1 {
    text-align: center;
    color: #1b1b32;
    font-size: 25px;
    font-family: Roboto, 'sans-serif';
    margin: 10px 0px;
}

.toDoList {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.freecodecamp-logo-contenedor {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.freecodecamp-logo {
    width: 400px;
    height: 50px;
}

.todolist-principal {
    width: 600px;
    min-height: 300px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    border-radius: 26px; 
}

